.github/ export-ignore
.gitignore export-ignore
.goreleaser.yaml export-ignore
.gitattributes export-ignore
README.md export-ignore
README_CN.md export-ignore
makefile export-ignore
*_test.go export-ignore
pretty.png export-ignore